version: '3.8'

services:
  # Сервис для Django
  backend:
    build:
      context: .
      dockerfile: uyde-back/Dockerfile
    container_name: django-backend
    command: ["python", "manage.py", "runserver", "0.0.0.0:8000"]
    volumes:
      - ./uyde-back:/app
    ports:
      - "8000:8000"
    env_file:
      - ./uyde-back/.env
    depends_on:
      - db
      - s3


  s3:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ACCESS_KEY: minio
      MINIO_SECRET_KEY: miniosecret
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: miniosecret
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"
      - "9001:9001"

  # Сервис для базы данных PostgreSQL
  db:
    image: postgres:15
    container_name: uyde_postgres-db
    environment:
      POSTGRES_DB: uyde_db
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5453:5432"

# service for redis
  redis:
    image: redis:7
    ports:
      - "6379:6379"

  # Сервис для фронтенда
#  frontend:
#    build:
#      context: ./uyde-front
#      dockerfile: Dockerfile
#    container_name: react-frontend
#    ports:
#      - "3000:3000"
#    volumes:
#      - ./uyde-front:/app
#    environment:
#      - CHOKIDAR_USEPOLLING=true  # чтобы hot reload работал внутри Docker
#    depends_on:
#      - backend



volumes:
  postgres_data:
  minio_data:
